{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "Payment Microservice",

  "Resources": {

    "PaymentsTable": {
      "Type": "AWS::DynamoDB::Table",
      "Properties": {
        "TableName": "Payments",
        "BillingMode": "PAY_PER_REQUEST",
        "AttributeDefinitions": [
          {
            "AttributeName": "PaymentId",
            "AttributeType": "S"
          }
        ],
        "KeySchema": [
          {
            "AttributeName": "PaymentId",
            "KeyType": "HASH"
          }
        ]
      }
    },

    "PaymentQueue": {
      "Type": "AWS::SQS::Queue",
      "Properties": {
        "QueueName": "payment-queue",
        "VisibilityTimeout": 60
      }
    },

    "PaymentFunction": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Handler": "ms-payments::ms_payments.Function::FunctionHandler",
        "Runtime": "dotnet8",
        "MemorySize": 512,
        "Timeout": 30,

        "Environment": {
          "Variables": {
            "PAYMENTS_TABLE": "Payments",
            "GAMES_QUEUE_URL": "https://sqs.us-east-1.amazonaws.com/864899865331/games-queue",
            "NOTIFICATION_QUEUE_URL": "https://sqs.us-east-1.amazonaws.com/864899865331/notification-queue"
          }
        },

        "Policies": [
          "AWSLambdaBasicExecutionRole",
          {
            "DynamoDBCrudPolicy": {
              "TableName": "Payments"
            }
          },
          {
            "SQSSendMessagePolicy": {
              "QueueName": "games-queue"
            }
          },
          {
            "SQSSendMessagePolicy": {
              "QueueName": "notification-queue"
            }
          }
        ],

        "Events": {
          "PaymentQueueTrigger": {
            "Type": "SQS",
            "Properties": {
              "Queue": {
                "Fn::GetAtt": [ "PaymentQueue", "Arn" ]
              },
              "BatchSize": 1
            }
          }
        }
      }
    }
  }
}